/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* utils */

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* position: relative; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: white;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 48px;
  text-decoration: underline;
}

/* start-animation */

.start-animation {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: visible;
  opacity: 100;
  -webkit-animation-name: bgAnimation;
  animation-name: bgAnimation;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes bgAnimation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes bgAnimation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

.line-animation {
  width: 100vw;
  position: fixed;
  top: 61px;
  left: 0;
  border-bottom: 1px white solid;
  z-index: 3;
  -webkit-animation-name: lineStartAnimation;
  animation-name: lineStartAnimation;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes lineStartAnimation {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes lineStartAnimation {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}

/* container */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  height: calc(100% - 60px);
}

@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .header__nav {
    visibility: hidden;
  }

  .title {
    font-size: 24px;
  }

  .header__logo {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 50px;
  }
}

/* header */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: black;
  z-index: 2;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
}

.header__home-link {
  position: absolute;
  top: 0;
  left: 0;
}

/* header-nav */

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-nav__item {
  margin-right: 25px;
  cursor: pointer;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.nav-item__link {
  color: white;
  border-bottom: 1px solid black;
  -webkit-transition-property: border-bottom;
  -o-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.nav-item__link:hover,
.nav-item__link:focus {
  border-bottom: 1px solid white;
}

/* home */

.home {
  margin-left: 50px;
}

@media (max-width: 767px) {
  .home {
    margin-left: 0;
  }

  .home__link-arrow {
    display: none;
    visibility: hidden;
  }

  .title {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.home__title {
  margin-top: 150px;
  margin-bottom: 20px;
}

.home__title_span {
  display: block;
  background-color: white;
  color: black;
  max-width: 150px;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  margin-bottom: 10px;
  font-size: large;
  padding: 10px 30px;
}

.home__subtitle {
  margin-bottom: 50px;
}

.home__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links__item {
  margin-right: 20px;
  border-radius: 100%;
  margin-bottom: 2px;
}

.links__item_linkedin {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.links__item_linkedin:hover,
.links__item_linkedin:focus {
  background-color: #0a66c2;
}

.links__item_github {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.links__item_github:hover,
.links__item_github:focus {
  background-color: #6e5494;
}

.links__item_gmail {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.links__item_gmail:hover,
.links__item_gmail:focus {
  background-color: #c71610;
}

.links__item_telegram {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.links__item_telegram:hover,
.links__item_telegram:focus {
  background-color: #229ed9;
}

.links__item:last-child {
  margin-right: 0px;
}

.links__logo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  z-index: 1;
}

.home__link-arrow_img {
  width: 15px;
  height: 15px;
  -webkit-filter: invert(0%) sepia(98%) saturate(4%) hue-rotate(137deg)
    brightness(96%) contrast(100%);
  filter: invert(0%) sepia(98%) saturate(4%) hue-rotate(137deg) brightness(96%)
    contrast(100%);
}

.home__link-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 200px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.home__link-arrow:hover,
.home__link-arrow:focus {
  background-color: #808080;
}

/* expSection */

.exp-list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exp-card__img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.exp-card__title {
  font-size: 26px;
  margin-bottom: 30px;
}

.exp-card__text {
  font-size: 14px;
  margin-bottom: 10px;
}

.exp-card__link {
  width: 45px;
  height: 45px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  border-radius: 100%;
  border: none;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  padding: 7px;
}

.exp-card__link:hover,
.exp-card__link:focus {
  border: 1px solid gray;
}

.exp-list__item:not(:last-child) {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  p {
    font-size: 10px;
  }

  .exp-card__img {
    visibility: hidden;
    display: none;
  }

  .exp-card__title {
    font-size: 14px;
  }

  .exp-list__item:not(:last-child) {
    margin-bottom: 80px;
  }

  .exp-card__info {
    width: 100%;
  }

  .exp-card__link {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid gray;
  }
}

/* aboutSection */

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__logo {
  width: 200px;
  margin-left: 50px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
}

.about__text {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
  margin-left: 75px;
}

.about__skills-list {
  display: flex;
  justify-content: center;
}

.skills-list__item:not(.skills-list__item:last-child) {
  margin-right: 30px;
}

.skills-item__text {
  font-size: larger;
}

.skills-item__text--decoration {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  .about__logo {
    display: none;
    visibility: hidden;
  }

  .about__text {
    margin-left: 0;
  }
}

/* footer */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin-bottom: 50px;
}

.footer__link {
  color: white;
  border-bottom: 1px solid black;
  transition-property: border-bottom;
  transition-duration: 300ms;
  line-height: 1.5;
}

.footer__link:hover,
.footer__link:focus {
  border-bottom: 1px solid white;
}

@media (max-width: 767px) {
  .footer__contacts {
    display: none;
    visibility: hidden;
  }
}
