/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* utils */

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* position: relative; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: white;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 48px;
  text-decoration: underline;
}

/* start-animation */

.start-animation {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: visible;
  opacity: 100;
  -webkit-animation-name: bgAnimation;
  animation-name: bgAnimation;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes bgAnimation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes bgAnimation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

.line-animation {
  width: 100vw;
  position: fixed;
  top: 61px;
  left: 0;
  border-bottom: 1px white solid;
  z-index: 3;
  -webkit-animation-name: lineStartAnimation;
  animation-name: lineStartAnimation;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes lineStartAnimation {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes lineStartAnimation {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}

/* container */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  height: calc(100% - 60px);
}

@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .nav-list {
    visibility: hidden;
  }

  .title {
    font-size: 24px;
  }

  .logo {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 50px;
  }
}

/* header */

.header-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: black;
  z-index: 2;
}

.logo {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
}

.homeLink {
  position: absolute;
  top: 0;
  left: 0;
}

/* header-nav */

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 25px;
  cursor: pointer;
}

.nav--item__hover {
  color: white;
  border-bottom: 1px solid black;
  -webkit-transition-property: border-bottom;
  -o-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.nav--item__hover:hover,
.nav--item__hover:focus {
  border-bottom: 1px solid white;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* homePage */

.homePage {
  margin-left: 50px;
}

@media (max-width: 767px) {
  .homePage {
    margin-left: 0;
  }

  .arrowLink {
    display: none;
    visibility: hidden;
  }

  .title {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.homePage-title {
  margin-top: 150px;
  margin-bottom: 20px;
}

.homePage--title__span {
  display: block;
  background-color: white;
  color: black;
  max-width: 150px;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  margin-bottom: 10px;
  font-size: large;
  padding: 10px 30px;
}

.homePage--profession {
  margin-bottom: 50px;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-item {
  margin-right: 20px;
  border-radius: 100%;
}

.link-item-linkedin {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.link-item-linkedin:hover,
.link-item-linkedin:focus {
  background-color: #0a66c2;
}

.link-item-github {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.link-item-github:hover,
.link-item-github:focus {
  background-color: #6e5494;
}

.link-item-gmail {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.link-item-gmail:hover,
.link-item-gmail:focus {
  background-color: #c71610;
}

.link-item-telegram {
  background-color: black;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.link-item-telegram:hover,
.link-item-telegram:focus {
  background-color: #229ed9;
}

.link-item:last-child {
  margin-right: 0px;
}

.link-logo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  z-index: 1;
}

.arrowDown {
  width: 15px;
  height: 15px;
  -webkit-filter: invert(0%) sepia(98%) saturate(4%) hue-rotate(137deg)
    brightness(96%) contrast(100%);
  filter: invert(0%) sepia(98%) saturate(4%) hue-rotate(137deg) brightness(96%)
    contrast(100%);
}

.arrowLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 200px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.arrowLink:hover,
.arrowLink:focus {
  background-color: #808080;
}

/* expSection */

.cardOfExamples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imageOfCard {
  max-width: 300px;
  max-height: 200px;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.titleOfCard {
  font-size: 26px;
  margin-bottom: 30px;
}

.textOfCard {
  font-size: 14px;
  margin-bottom: 10px;
}

.linkToExample {
  width: 45px;
  height: 45px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  border-radius: 100%;
  border: none;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  padding: 7px;
}

.linkToExample:hover,
.linkToExample:focus {
  border: 1px solid gray;
}

.itemOfExamples:not(:last-child) {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  p {
    font-size: 10px;
  }

  .imageOfCard {
    visibility: hidden;
    display: none;
  }

  .titleOfCard {
    font-size: 14px;
  }

  .itemOfExamples:not(:last-child) {
    margin-bottom: 80px;
  }

  .contentOfCard {
    width: 100%;
  }

  .linkToExample {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid gray;
  }
}

/* aboutSection */

.aboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutLogo {
  width: 200px;
  margin-left: 50px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg)
    brightness(103%) contrast(104%);
}

.aboutText {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
  margin-left: 75px;
}

@media (max-width: 1000px) {
  .aboutLogo {
    display: none;
    visibility: hidden;
  }

  .aboutText {
    margin-left: 0;
  }
}

/* footer */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin-bottom: 50px;
}

.footerLink {
  color: white;
  border-bottom: 1px solid black;
  transition-property: border-bottom;
  transition-duration: 300ms;
  line-height: 1.5;
}

.footerLink:hover,
.footerLink:focus {
  border-bottom: 1px solid white;
}

@media (max-width: 767px) {
  .contactNumMail {
    display: none;
    visibility: hidden;
  }
}
